@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani';
}
/*  HEADER Y NAV  */
header{
    width: 93%;
    position: absolute;
    right: 0;
}

header .nav-bar{
    height: 80px;
    background: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav-bar .logo{
    color: #844610;
    width: 25%;
    flex-grow: 1;
    justify-self: left;
    display: flex;
    
}

header .nav-bar .logo h1{
    font-size: 30px;
    font-weight: 900;
}

header .nav-bar .links{
    color: #fff;
    width: 75%;
    text-align: right;
    flex-grow: 2;
    display: flex;
    justify-content: right;
}

header .nav-bar .links ul{
    list-style: none;
}

header .nav-bar .links ul li{
    display: inline-block;
    margin: 0 60px 0 0;
}

header .nav-bar .links ul li a{
    text-decoration: none;
    color: #fff;
}

header .nav-bar .links ul li a:hover{
    text-decoration: underline;
    text-underline-position:under;
    text-shadow: 0px 5px 15px #fff;
}

header .nav-bar .links ul li a:visited{
    text-decoration: underline;
    text-underline-position:under;
    color: #fff;
}

.nav-bar-responsive{
    display: none;
}
/*       END-HEADER    AND   END-NAV       */


/*      ASIDE      */

.aside-flotante-content{
    height: 100vh;
    background-color: rgb(15, 15, 15);
    position: absolute;
    top: 0;
    width: 7%;/*cuando este al 100%*/
    display: flex;
    justify-content: center;
}

.aside-flotante{
    width: 60%;
    background: rgb(25, 25, 25);
}

.aside-flotante .dh{
    height: 20%;
    background: #844610;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.aside-flotante .social-networks{
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}

.aside-flotante .social-networks i{
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
}

/*             END-ASIDE         */

/*           MAIN-CONTAINER        */

.main-container{
    background: rgb(15, 15, 15);
    height: calc(100vh - 80px);
    width: calc(100% - 7%);
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, minmax(70px,1fr));
    grid-template-rows: repeat(5, minmax(50px,1fr));
    z-index: -2;
}

.grid-item{
    position: relative;
}

.grid-item:first-child{
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
}

.grid-item:nth-child(2){
    grid-column: 4 / span 4;
    grid-row: 1 / span 4;
}
.grid-item:last-child{
    grid-column: 1 / span 7;
    grid-row: 5 / span 1;
}

.main-container .texto-parrafos-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #Fff;
    padding-top: 105px;
}

.main-container .texto-parrafos-button-container .texto-big{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-back{
    width: 100%;
}

.text-over{
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: auto;
    color: #844610;
    bottom: 40px;
    left: 5px;
}

.text-over p{
    font-size: 20px;
    font-weight: 900;
}

.main-container .texto-parrafos-button-container .texto-big .text-back h2{
    color: rgba(131, 131, 131, 0.247);
    font-size: 100px;
    font-family:  sans-serif;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}

.main-container .texto-parrafos-button-container .titulo-parrafo{
    position: relative;
    width: 100%;
    
}

.titulo-parrafo h2{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

.titulo-parrafo p{
    padding: 15px 30px 0px 15px;
}

.main-container .texto-parrafos-button-container .radios{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.main-container .texto-parrafos-button-container .radios p{
    display: inline-block;
}

.home, .villa , .mall, .office, .comercial{
    max-width: 20%;
    min-width: 19%;
}

.main-container .texto-parrafos-button-container .button-content{
    position: relative;
    width: 95%;
    padding-top: 50px;
    display: flex;
    justify-content: left;
}

.main-container .texto-parrafos-button-container .button-content a{
    text-decoration: none;
    color: #fff;
    background: #844610;
    width: 180px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
}

.main-container .texto-parrafos-button-container .button-content a:hover{
    color: #844610;
    background: #000;
    border: 1px solid #844610;
}

.main-container .imagen{
    display: flex;
    align-items: center;
}

.main-container .imagen img{
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.main-container .next{
    
}


/*           END-MAIN-CONTAINER        */

/*   Responsive   */

@media screen and (max-width:1150px){
    header .nav-bar .links ul li{
        margin: 0 40px 0 0;
    }
}

@media screen and (max-width:960px){
    header .nav-bar .links ul li{
        margin: 0 30px 0 0;
    }
}

@media screen and (max-width:866px){
    header .nav-bar .links ul li{
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width:775px){
    header .nav-bar .links ul li{
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width:668px){
    header .nav-bar .links ul li{
        margin: 0 4px 0 0;
    }
}

@media screen and (max-width:650px){
    header .nav-bar .links{
        display: none;
    }

    body{
        overflow: hidden;
    }

    header .nav-bar .nav-bar-responsive{
        display: flex;
        position: relative;
        width: 50%;
        justify-content: right;
    }

    .bars{
        margin-right: 20px;
        position: absolute;
        z-index: 200;
    }

    header .nav-bar .nav-bar-responsive i{
        color: #fff;
        font-size: 40px;
    }

    header .nav-bar .nav-bar-responsive .appear{
        position: absolute;
        background: linear-gradient(to bottom, #000, transparent);
        display: flex;
        width: 200px;
        height: 500px;
        right: 0;
        align-items: flex-start;
        z-index: -1;
        margin-top: 40px;
        border-radius: 0 0 15px 15px;
        top: -1200px;
        transition: all 1s;
    }

    header .nav-bar .nav-bar-responsive ul{
        list-style: none;
        width: 100%;
    }

    header .nav-bar .nav-bar-responsive ul li{
        margin-top: 20px;
        width: 100%;
        height: 40px;
        padding: 7px;
    }

    header .nav-bar .nav-bar-responsive ul li:hover{
        background: linear-gradient(to right, #000, transparent);
    }

    header .nav-bar .nav-bar-responsive ul li i{
        font-size: 20px;
    }

    header .nav-bar .nav-bar-responsive a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }

    header .nav-bar .nav-bar-responsive .last{
        color: #000;
    }

    header .nav-bar .nav-bar-responsive .last2{
        color: rgb(50, 50, 90);
    }
}