*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon{
    border-radius: 30px;
}

h1, h2, h3, h4, p{
    color: rgb(255, 255, 255);
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(34, 27, 27);
    
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

.titulo{
  color: rgb(212, 245, 190);
  font-size: 30px;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 60px;  
}

header{
   width: 100%;
   height: 750px;
   background: #1D4350;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #a439319f, #1d4350a1), url(/Images.website/Drums.School/image3.0.jpg) ;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #a439319f, #1d4350a1), url(/Images.website/Drums.School/image3.0.jpg) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover;
   /*background-attachment: fixed;*/
   position: relative;
   background-position: center;
   background-size: 800px ;
   
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: _#fff;

}
.textos-header h2{
    font-size: 30px;
    color: #fff;
    font-weight: 300;

}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* about us */

.Contenedor-About-Us{
    display: flex;
    justify-content: space-evenly;
}
.imagen-About-Us{
    width: 48%;

}
.Contenedor-About-Us .Contenido-Texts{
    width: 48%;

}

.Contenido-Texts h3{
    margin-bottom: 15px;

}
.Contenido-Texts h3 span{
    background:rgb(36, 228, 45);
    color:white;
    border-radius: 40%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
    padding: 2px;
    margin-right: 5px;

}
.Contenido-Texts p{
    padding: 0 0 10px 15px;
    font-weight: 300;
    text-align: justify;
}

/* fotos de alumnos 
<!--seccion de bateristas en curso--> */

.portafolio{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 40px;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imagen-port{
    width: 25%;
    margin-bottom: 10px;
    margin-right:10px;
    height: 200px;
    border-radius: 35px;
    overflow: hidden;
    position:relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.hover-galery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(177, 129, 129, 0.445);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galery img{
    width: 100px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.hover-galery p{
    color: white;
}
.imagen-port:hover .hover-galery{
    transform: scale(1)

}
/* que dicen nuestros estudiantes/egresados*/

.cards{
    display: flex;
    justify-content: space-evenly;

}
.cards .cards{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}
.cards .cards img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 50%;
    display: block;
}
.cards .cards > .contenido-texto-card{
    width: 60%;
    color: black;
}
 .cards .cards > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 6px;
 }

 /* our classes*/

 .about-services{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 40px;
    box-sizing: border-box;
    /*padding-bottom: 30px;*/

 }
 .wavemain{
    position: static;
    bottom: 0;
    width: 100%;
}
 .Servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Servicio-ind{
    width: 28%;
    text-align: center;

}
.Servicio-ind img{
    width: 90%;
    border-radius: 15px;
}
.Servicio-ind h3{
    margin: 10px 0;
}
.Servicio-ind p{
    font-weight: 300;
    text-align: justify;
    
}

/* footer(DATOS DE CONTACTO) */

footer{
    /*background color pendiente*/
    padding: 90px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.wavefo{
    position: absolute;
    top: 0px;
    width: 100%;
    
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;

}
.content-foo{
    text-align: center;

}
.content-foo h4{
    color: white;
    border-bottom: 3px solid black;
    padding-bottom: 6px;
    margin-bottom: 10px;
    
}
.content-foo p{
    color: rgb(255, 255, 255);
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    
}
.madeby{
    text-align: left;
    font-size: 20px;
    
}
/*mobile*/

@media screen and (max-width:900px) {
    header{
        background-position: center;

    }
    .Contenedor-About-Us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Contenedor-About-Us .Contenido-Texts{
        width:90%;
        
    }
    .imagen-About-Us{
        width: 90%;
    }
    /*galeria*/
    .imagen-port{
        width: 44%;
    
    }
    /* alumnos egresados*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cards .cards{
        width: 90%;
    }
    .cards .cards:first-child{
        margin-bottom: 30px;
    }
    .Servicio-cont{
        justify-content: center;
        flex-direction: column;

    }
    .Servicio-ind{
        width: 100%;
        text-align: center;
    }
    .Servicio-ind:nth-child(1), .Servicio-ind:nth-child(2){
        margin-bottom: 60px;

    }
    .Servicio-ind img{
        width: 60%;

    }


}

@media screen and (max-width:500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    
    /*ABOUT USSS*/

    .imagen-About-Us{
        margin-bottom: 60px;
        width: 99%;
    }
    .Contenedor-About-Us .Contenido-Texts{
        width: 95%;

    }
    .imagen-port{
        width: 95%;

    }    
    /* egresados*/
    .cards .cards{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .cards img{
        width: 90px;
        height: 90px;
    }
    
    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;

    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        border-bottom: 1px solid rgb(34, 27, 27);
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
    }
}
