/*
              UNIDADES DE MEDIDA
*/

*{
    padding: 0px;
    margin: 0px;
}

.contact-form{
    font-size: 20px;   /*  1 em va ser igual al valor de la caja contenedora, esta */
    background-color: rgb(24, 20, 20);
    width: 50vw;                  /* relativas = em, vh = % heigth , vw = % with      */ 
    height: 100vh;              /* Tambien se puede con porcentaje
                            pero sería el porcentaje dependiendo del tamaño de la caja*/
}   
/*          
                TIPOGRAFIA
*/
.contact-form__h2{

    font-size: 50px;   /*  fijas =  cm , mm, pt, px */
                      /* relativas = em vh, vw      */

}/* Esta propiedad cambia el tamaño de la letra */