*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(70, 70, 70);
}

/*                          -- Transform --                    

    transform: translateX(x);
    transform: translateY(y);
    transform: translate(x,y);
    transform: scale();
    transform: skwe(deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    */

.container{
    background: #86f;
    padding: 20px 5px;
}
.caja{
    background: black;
    height: 80px;
    width: 80px;
    margin: 20px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    transform:translate(50px) skew(20deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.caja:hover{
    transform: scale(1.4) translate(50px) ;
}

p{
    transform: skew(-20deg);
}