*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*          -- filter --         */

body{
    background: rgb(31, 31, 31);
    height: 100vh;
    width: 100%;
}

.container{
    /*background-image: url(../Images/working.jpg);*/
    width: 90%;
    margin: 50px auto;
    height: 60%;
    background-size: cover;
    position: relative;
    /*filter: blur(2px);   desenfocarse */
    /*filter:contrast(1.5);   contraste , tambien se puede con porcentajes*/

    /*filter: drop-shadow(10px 10px 5px #000) sombra especial para las imagenes que no tienen fondo, no 
    se les coloca como tal al cuadro, sino a la imagen */

    /*filter: greyscale(100%) coloca la imagen 100 blanco y negro  */

    /*filter: hue-rotate(200deg) gira la gama de colores */

    /*filter: invert(50%) invierte los colores, si es 50%, queda gris*/

    /*filter: opacity(.5) opacidad*/

    /*filter: saturate(100%) se saturan los colores */

    /*filter: sepia(10) se vuelve color sepia*/

    filter: contrast(30);
    background-color: #fff;
    transition: filter 1s;
    cursor: pointer;
}
.caja{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: red;
    margin: 40px;
    filter: blur(20px);
}

.caja:first-child{
    animation: trasladar 3s alternate infinite ease-out;
}

@keyframes trasladar{
    0%{
        transform: translate(0);
    }100%{
        transform: translate(160px);
    }
}



/*
    otras propiedades

    direction: ltr | rtl | initial | inhrit
    letter-spacing: 5px
    scroll- behavior
    user-selected: none
    text-shadow:

*/