*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   -- background --  y Variables  */
:root{
    --red-golden:#f64;
}

body{
    background: rgb(31, 31, 31);
}

.container{
    background: var(--red-golden);
    padding: 20px 5px;
    width: 400px;
    height: 360px;
    margin: 40px;
    background-image: url(../Images/working.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /*background-clip: padding-box , content-box, border-box    
    recorta la imagen */

    /*background-origin: padding-box;
    se origina a partir de*/

    background-position: left;
    /*background-attachment: scroll, fixed, inherit*/
}