*{
    font-family: 'sen',serif;
    font-weight: 100;
}

body{
    background: radial-gradient(circle,#fff, #bbb);
    display: flex;
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    grid-template-rows: repeat(auto-fill,minmax(170px, 1fr));
    grid-gap: 10px;
    width: 100%;
    grid-auto-rows: 170px;
    grid-auto-flow: dense;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-child{
    grid-column: 1 /3;
}

img:nth-child(6){
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

img:nth-child(10){
    grid-row: span 3;
}