/*

                                        Estrutura

selector {

    propiedad: valor;

}

------------------------------------------------------------------------------------------------------------------------

                                        CSS Selectores:

Universal - * = Selecciona a todos los elementos

    ejemplo:
        * {

            color: red;  //puede ser red o #f00; o en hexaDecimal #ab32de / Es un sistema de 16 unidades; 
                        // todo va a estar en rojo
        }

de tipo - Seleccion por elemento

    ejemplo:
        h1 {

            color: red; // Todos los h1 van a estar en red
        }

clases - debemos agregarle una clase al elemento ( <h2 class="titulos-h2">Mi primer h2 con CSS </h2>  )

    ejemplo:
        .titulos-h2{   // cambiamos el color de los elementos que sean de esa clase
            
            color: red;
        }

ID - 
    
    ejemplo:
        #id_elemento{  // cambiamos el color de los elmentos con ese id/ el id debe ser unico, no se puede repetir
                      // , no deberiamos darle un id a mas de 1 elemento

            color: red;
        }

por atributo - ( <h2 rancio="siii">Mi primer H2 con CSS</h2> ) rancio = atributo(nombre que deseado) / "siii" es el valor del atributo
    
    ejemplo:
        
        [rancio="siii"]{

            color:red;
        }

descendiete - 
    
    // <h2><p>primer H2 con CSS</p></h2>
    // <h2><b>primer H2 con CSS</b></h2>

    h2 p{           selecciona y modifica los elementos p que hay dentro de un h2

        color:red;
    }

    h2 b{           selecciona y modifica los elementos b que hay dentro de un h2

        color:blue;

    }

    .h2-class p{

        color: red; // se colocan en rojo los elementos p, que estan dentro de los elementos que sean de la clase h2-class
                   // <h2 class = "h2-class><p>hola</p></h2>  like this

    }

pseudo-clases -    los eventos de la seleccion

    b:hover {    // quiere decir que a todos los elementos b, cuando se le posiciones el mouse encima, cambie a color rojo

        color:red;

    }

    h2-class b: hover{

        color:red;    // de manera descendiente

    }

*/