*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 25px;
}
                                        /*Colorizacion*/
/*colores:  color name
            hexadecimal
            rgb
            rgba
            hsl
            hsla*/  
body{
    background: rgb(0, 0, 0);
}                                      
.box{
    position: relative;
    border-radius: 15px;
    margin: 50px auto;
    width:350px;
    height: 620px;
    border:5px solid rgb(0, 0, 0);
    background-color: rgb(25, 25, 25);/*a = opacity , va de cero a 1*/
    /*
    #fff
    #ffffff
    3 o 6 , el cuarto parametro es la opacity*/
    box-shadow: 1px 1px 9px 0px white;
    
}

/* rgb = red green blue (red,green,blue)/ (255,0,0) solo rojo */

.box2{
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    background: rgba(255, 255, 255, 0.849);
    height: 98%;
    width: 95%;
    border-radius: 15px;
    z-index: 40000;
    overflow: hidden;
}

.nav{
    border-radius: 15px;
    height: 37px;
    width: 100%;
    background-color: blue;
}

/*                                  web site normal                 */
/*
.nav__responsive-ul{
    display:none;
}
.nav__li{
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.nav__li:hover > a{
    color: #bbb;
}
.nav__li:hover > i{
    color: #bbb;
}

.nav__li a{
    color: #fff;
    text-decoration: none;
}

.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}
*/


/*                                  Responsive-mobile               */

/* @media only screen and(max-width:500px){
    .nav__li{
        display:none;
    }
}                                                                       */

/*                                    Responsive Design             */


.nav__responsive-button-container{
    position:absolute;
    width:100%;
    font-size: 25px;
    background-color: blue;
    margin-top: -64px;
    z-index: 3000;
}

.nav__responsive-button{
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}


.nav__responsive-ul{
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 0px;
    margin-top: 47px;
    padding-top: 17px;
    height: 7px;
}


.nav__responsive-li{
    width: 100%;
    padding: 5px;
}

.nav__responsive-li > a{
    text-decoration: none;
    color: black;
}

.nav__responsive-li i{
    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
    width: 30px;
}

.nav__li-container{
    position: relative;
    top: -1000px;
    height: calc(100vh - 64px);
    background: rgba(255, 255, 255, 0.849);
    transition: all 1s;
    width: 60%;
    padding-top: 27px;
}

.fondo1, .fondo2, .fondo3, .fondo4{
    transition: all .5s;
}

.nav__responsive-ul:hover > .nav__li-container{
    top:-27px;
    background:rgba(153, 187, 255, 0.616);
}
.fondo1:hover{
    background: rgba(255, 255, 255, 0.521);
}
.fondo2:hover{
    background: rgba(255, 255, 255, 0.521);
}
.fondo3:hover{
    background: rgba(255, 255, 255, 0.521);
}
.fondo4:hover{
    background: rgba(255, 255, 255, 0.521);
}







